* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #10131a;
    color: white;
}

.login-box {
    width: 350px;
    max-width: 90%;
    margin: 100px auto;
    padding: 35px;
    background: #1c222c;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #aaa;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    background: #ff7a00;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

button.register {
    background: #303946;
}

#message {
    margin-top: 18px;
    color: #ffd166;
}